<launch>

	<node pkg="rosserial_python" type="serial_node.py" name="ros_arduino_imu_raw" output="screen" respawn="true">
		<param name="~port" value="/dev/ttyAMA0" />
		<param name="~baud" value="115200" />
	</node>

<!--
	<node pkg="urg_node" type="urg_node" name="Hokuyo" output="screen" respawn="true">
		<param name="~port" value="/dev/ttyACM0" />
		<param name="~baud" value="115200" />
		<param name="frame_id" value="laser_link" />
		<param name="calibrate_time" value="true" />
		<param name="publish_intensity" value="false" />
		<param name="publish_multiecho" value="false" />
		<param name="angle_min" value="-2.094395102" />
		<param name="angle_max" value="2.094395102" />

	</node>
	
-->

	<node pkg="mech_ros_pi" type="Aruco_detect_follow.py" name="marker_detector" output="screen" respawn="true" />


</launch>